.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: aqua;
}

.editor-class {
  padding: 1rem;
  background-color: rgb(248, 249, 249);
  max-height: 300px;
  min-height: 100px;
  resize: none;
}

.toolbar-class {
  border: 1px solid #ccc;
  background-color: rgb(158, 42, 215);
}

.carta {
  width: 220mm;
  height: 280mm;
}

.oficio {
  width: 220mm;
  height: 340mm;
}
.preview-container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.preview {
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  border: 1px solid #000;
}

.content {
  font-size: var(--font-size, 12px);
  width: calc(100% - var(--margin-left, 20px) - var(--margin-right, 20px));
  margin-left: var(--margin-left, 20px);
  margin-right: var(--margin-right, 20px);
  margin-top: var(--margin-top, 20px);
  margin-bottom: var(--margin-bottom, 20px);
  text-align: left;
  overflow-wrap: break-word;
}
