.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: aqua;
}

.editor-class {
  padding: 1rem;
  background-color: rgb(248, 249, 249);
  max-height: 300px;
  min-height: 100px;
  resize: none;
}

.toolbar-class {
  border: 1px solid #ccc;
  background-color: rgb(158, 42, 215);
}

.preview {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
