.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: aqua;
}
.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
  overflow: auto;
}
.toolbar-class {
  border: 1px solid #ccc;
}
.preview {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
