body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.app-header {
  position: absolute;
  background-color: #282c34;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  text-align: center;
  padding: 12px;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.app-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 20vh;
  height: 100vh;
  float: left;
  background-color: #282c34;
  border: 1px solid #111;
}

.editor-container {
  flex-grow: 1;
  background-color: coral;
}